node_modules/
local/.env.local
local/backup-local.sh
local/wikipedia.db
local/wikipedia.db-shm
local/wikipedia.db-wal
local/__pycache__/*
local/wikipedia_data/*
**.log
.env
logs/*.log
logs/exceptions.log
logs/rejections.log
