node_modules/
local/.env.local
local/backup-local.sh
local/wikipedia.db
local/wikipedia.db-shm
local/wikipedia.db-wal
local/__pycache__/*
local/wikipedia_data/*
scripts/__pycache__/*
scripts/wikipedia_output/*
scripts/wikipedia_packages/*
**.log
.env
.env.local
